<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cheapbasket"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Product"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchProduct"
            android:label="@string/title_activity_search_product" >
        </activity>
        <activity
            android:name=".Hellohh"
            android:label="@string/title_activity_hellohh" >
        </activity>
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results" >
        </activity>
        <activity
            android:name=".SearchMode"
            android:label="@string/title_activity_search_mode" >
        </activity>
        <activity
            android:name=".SearchCategory"
            android:label="@string/title_activity_search_category" >
        </activity>
        <activity
            android:name=".MyBaskets"
            android:label="@string/title_activity_my_baskets" >
        </activity>
        <activity
            android:name=".Kids_basket"
            android:label="@string/title_activity_kids_basket" >
        </activity>
        <activity
            android:name=".Christmas_Basket"
            android:label="@string/title_activity_christmas__basket" >
        </activity>
        <activity
            android:name=".Weekly_Basket"
            android:label="@string/title_activity_weekly__basket" >
        </activity>
    </application>

</manifest>